[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyzmq = "*"
opencv-python = "*"
gpiozero = "*"

[dev-packages]
debugpy = "*"
mypy = "*"
pylint = "*"
flake8 = "*"
ipython = "*"
pytest = "*"
pytest-mypy = "*"
pytest-cov = "*"
pytest-flake8 = "*"
pytest-pylint = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.8"
